ul {
  font-size: 14px;
  font-family: verdana,courier;
  border: 1px solid powderblue;
  color: red; }

ol {
  font-size: 18px;
  color: purple; }
  
  div {
    font-size: 12px;
  color: cynan; 
  }
  
  p{
    font-size: 10px;
  font-family: verdana,courier;
  border: 1px solid powderblue;
  color: green; 
  }
  
  H3{
    font-size: 14px;
  font-family: verdana,courier;
  border: 1px solid powderblue;
  color: yellow; 
  }
  
  th{
    font-size: 16px;
	color: Pink; 
  }
  
  td{
    font-size: 14px;
	font-family: verdana,courier;
	border: 1px solid powderblue;
	color: blue; 
  }
  body {
	  background-color: powderblue;
  }