$font_size:14px;
%font_family
{
  font-family: verdana,courier;
  cellspacing:8px;
  padding: 3px;
  margin: 2px;
}

ul {
  @extend %font_family;
  font-size: 14px;
  color: red; }

ol {
@extend %font_family;
  font-size: 18px;
  color: purple; }
  
  div {
  @extend %font_family;
    font-size: $font_size;
  color: cynan; 
  th{
    border: 5px solid brown;
  }
  td{
    border: 3px solid green;
  }
  }
  
  p{
    font-size: $font_size;
  @extend %font_family;
  color: green; 
  }
  
  H3{
    font-size: $font_size;
	@extend %font_family;
  color: yellow; 
  }
  
  th{
  @extend %font_family;
    font-size: 18px;
	border: 5px solid Red;
	color: Pink; 
  }
  
  td{
    font-size: $font_size;
	@extend %font_family;
	border: 5px solid Orange;
	color: blue; 
  }
  body {
  @extend %font_family;
	  background-color: powderblue;
  }